# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Environment variables
.env
.env.local
.env.*.local

# Production
/build
/dist

# Misc
.DS_Store
*.pem
.vscode/
.idea/

# Expo
.expo/
.expo-shared/

# IDE
*.swp
*.swo
*~
